.checkbox {
    display: inherit;
    width: 100%;
    margin-top: -20px;
    p {
        width: inherit;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }
    span {
        position: inherit;
    }
    input[type=checkbox] {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px;
        padding: 10px;
        transform: scale(1.5);
        border: 5px;
        clear: both;
        z-index: -1;
    }
}

.block-a{
    width:50%;
}
  
.block-b{
    display: flex;
    justify-content: center;
    text-align: center;
    width:50%;
    margin: 0 65px;
}