.painelcontrole {
  padding: 0;
  margin-left: 0px;
  -webkit-transition: margin-left 0.3s ease-in;
  transition: margin-left 0.3s ease-in;
  overflow: hidden;
}

.painelcontrole.open {
  position: fixed;
  margin-left: 400px;
  -webkit-transition: margin-left 0.4s ease-out;
  transition: margin-left 0.4s ease-out;
}

.painelcontrole h1 {
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: lightsteelblue;
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  margin-top: 5px;
  padding: 10px;
}

.painelcontrole h2 {
  margin-top: 60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  float: left;
  margin-left: 1.5rem;
  font-size: 20px;
}

.painelcontrole h2 span.block-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 50%;
  text-align: center;
}

.painelcontrole h2 span.block-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 50%;
  font-size: 13px;
  margin: 10px 65px;
}

.painelcontrole button {
  background: #1AAB8A;
  color: #fff;
  border: none;
  position: relative;
  height: 30px;
  font-size: 0.6em;
  float: right;
  padding: 0 2em;
  cursor: pointer;
  -webkit-transition: 800ms ease all;
  transition: 800ms ease all;
  outline: none;
  overflow: hidden;
  border-width: 0.1rem;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
}

.painelcontrole button:hover, .painelcontrole button:focus {
  background: #fff;
  color: #1AAB8A;
}

.painelcontrole button:before, .painelcontrole button:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #1AAB8A;
  -webkit-transition: 400ms ease all;
  transition: 400ms ease all;
}

.painelcontrole button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.painelcontrole button:hover:before, .painelcontrole button:hover:after {
  width: 100%;
  -webkit-transition: 800ms ease all;
  transition: 800ms ease all;
}

.painelcontrole button i {
  color: green;
}

.painelcontrole ul {
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  float: left;
}

.painelcontrole li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  float: left;
}

@media (max-width: 586px) {
  .painelcontrole {
    margin-left: 0px;
    -webkit-transition: margin-left 0.3s ease-in;
    transition: margin-left 0.3s ease-in;
  }
  .painelcontrole button {
    display: none;
  }
  .painelcontrole.open {
    margin-left: 70%;
    -webkit-transition: margin-left 0.4s ease-out;
    transition: margin-left 0.4s ease-out;
  }
}
/*# sourceMappingURL=Painelcontrole.css.map */